.card{
    
    margin-bottom:25px;
    text-align: center;
    width:40%;
    
    @media(max-width: 750px){
        width:100%;
    }
    img{
        height: 250px;
        width:100%;
    }
    p{
        font-size: 18px;
        font-family: monospace;
    }
}