.card{
    
    margin:20px 0;
    text-align: center;
    width:40%;
    height: 200px;
    @media(max-width: 750px){
        width:100%;
    }

    p{
        font-size: 18px;
        font-family: monospace;
    }
}